*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background-color: var(--background-color);
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
:root {
  --hue: 200;
  --saturation: 50%;
  --foreground-color: hsl(var(--hue), var(--saturation), 75%);
  --background-color: hsl(var(--hue), var(--saturation), 20%);
}
.container {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
}
@media (min-width: 600px) {
  .game-area {
    display: flex;
    position: relative;
    width: 40vw;
    height: 100vh;
    margin: 0 auto;
  }
}
.paddle {
  --position: 50;
  position: absolute;
  background-color: var(--foreground-color);
  top: calc(var(--position) * 1vh);
  transform: translateY(-50%);
  width: 1vh;
  height: 10vh;
}
.paddle.left {
  left: 1vw;
}
.paddle.right {
  right: 1vw;
}
.ball {
  --x: 50;
  --y: 50;
  position: absolute;
  background-color: var(--foreground-color);
  left: calc(var(--x) * 1%);
  top: calc(var(--y) * 1%);
  border-radius: 50%;
  transform: translateY(-50%, -50%);
  width: 2.5vh;
  height: 2.5vh;
}
.score {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 7vh;
  width: 100%;
  height: fit-content;
  color: var(--foreground-color);
}
.score > * {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 2vh;
  margin: 1vh 0;
  opacity: 0.5;
}
.score > :first-child {
  text-align: right;
  border-right: 0.5vh solid var(--foreground-color);
}

.reset-button {
  position: absolute;
  top: 0rem;
  right: 0.5rem;
  margin-right: 2rem;
  margin-left: auto;
  width: fit-content;
  height: 50px;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  outline: none;
  border: 1px solid black;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
.reset-button:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.createdBy {
  position: absolute;
  top: auto;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
